

.basesList{
	.baseLink{
		cursor: pointer;
		margin: 5px;
		padding: 5px;
		background: rgba(255,255,255,0.1);
		float: left;
		min-width: 200px;
		&:hover{
			color: #aaa;
		}

	}
	.icon.basesIcon{
		display: block;
		float: left;
	}
	.baseInfo{
		float: left;
	}
	.baseName{
		display: block;
	}
	.starSystemName{
		display: block;
	}
}

.infoPanel{
	.fuelPrice, .repairPrice, .economicLevel, .purchaseTax, .salesTax{
		
		min-width: 100px;
		text-align: center;

		h5{
			font-weight: normal;
			font-size: 18px;
			color: #aaa;
			margin-bottom: 5px;
		}
		.creditsIcon{
			position: relative;
			top: -4px;
		}
		.value{
			font-size: 22px;
		}
        .percentage{
            font-weight:bold;
            font-size: 22px;
            color: #159515;
        }
	}
	.fuelPrice{
		float: left;
	}
	.repairPrice{
		float: right;
	}
}