@import "Variables/colors.less";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

.clearfix{
	clear: both;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

body {
	width: 100%;
	min-height: 100%;
	height: 100%;
	font-family: @textFont;
	
	
	color: @textColor;
}

h1, h2, h3 {
	color: @titleTextColor;
	font-family: @titleFont;
	font-weight: 400;
}

a{
	color: @textColor;
	text-decoration: underline;
}