@import "Variables/colors.less";
@import "Variables/fonts.less";
@import "Parts/icons.less";
@import "defaults.less";
@import "Game/buttons.less";

#envelope {
	height: 100%;
	width: 100%;
}

@appPanelHeight: 20px;
#applicationPanel{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @appPanelHeight;
	background: @gamePanelBgColor;
	z-index: 10;

	.leftPart, .middlePart, .rightPart{
		float: left;
		height: @appPanelHeight;
	}
	.leftPart, .rightPart{
		width: 40%;
	}
	.middlePart{
		width: 20%;
		overflow: visible;
	}
	.rightPart{
		text-align: right;
	}
	.brick{
		display: inline-block;
		height: @appPanelHeight - 4;
		line-height: @appPanelHeight - 4;
		padding: 2px 4px;
		border-right: 1px solid rgba(255,255,255, 0.1);
	}
}

@gameTopHeight: 40px;
@leftSize: 25%;/* width of left part, including menu*/
@rightSize: 20%;/* width of right part, including context panel */
#gameTopPanel{
	position: fixed;
	left: 0;
	top: @appPanelHeight;
	width: 100%;
	z-index: 9;

	height: @gameTopHeight;
	.leftPart, .middlePart, .rightPart{
		position: relative;
		z-index: 100;
		float: left;
		height: @gameTopHeight;
	}
	.leftPart{
		width: @leftSize - 1;/* when modified, please correct other values in #menuPanel */
		padding-left: 1%;
	}
	.middlePart{
		z-index: 5;
		width: 100 - @leftSize - @rightSize;
	}
	.rightPart{
		width: @rightSize - 1;/* when modified, please correct other values #contextPanel */
		padding-right: 1%;
		text-align: right;
	}
	.leftPart, .rightPart{
		background: @gamePanelBgColor;
		border-bottom: 2px solid @gamePanelBorderColor;
	}

	.brick{
		display: inline-block;
		height: @gameTopHeight - 10;/* for top and bot padding*/
		line-height: @gameTopHeight - 4;
		padding: 8px 6px 2px 6px;
		vertical-align: middle;
		text-align: center;
		&.minwidth{
			min-width: 80px;
		}
	}
	.middlePart{/* used for make /'''''''\ shape on the top panel*/
		position: relative;

		.middleShape{
			position: relative;
			width: 100%;
			background: @gamePanelBgColor;
			border-bottom: 2px solid @gamePanelBorderColor;
			height: 16px;
			z-index: 9;
		}
		.leftShape, .rightShape{
			position: absolute;
			top: -22px;
			height: @gameTopHeight;
			background: @gamePanelBgColor;
			border-bottom: 2px solid @gamePanelBorderColor;
			width: 80px;
			z-index: 2;
		}
		.leftOverlay, .rightOverlay{
			position: absolute;
			background: @gamePanelBgColor;
			top: 3px;
			z-index: 20;
			width: 40px;
			height: 20px;
		}
		.leftShape{
			left: -26px;
			transform: rotate(-45deg);
		}
		.leftOverlay{
			left: -8px;			
			transform: rotate(-45deg);
		}
		.rightShape{
			right: -26px;
			transform: rotate(45deg);
		}
		.rightOverlay{
			right: -8px;			
			transform: rotate(45deg);
		}

	}

}

#logo {
	position: relative;
	text-decoration: none;
	font-family: @titleFont;
	color: @titleTextColor;

	h1{
		color: @textColor;
		text-align: center;
	}	
	
}

#content {
	position:absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 1;

	#alert_placeholder{
		padding: 8px 20px;
		margin-left: @leftSize - 2;
		margin-right: @rightSize - 2;
	}
}

#gameBottomPanel{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	/*border-top: 2px solid @gamePanelBorderColor;*/

	#infoStream{
		background: @gamePanelBgColor;
		height: 30px;
		width: auto;
		cursor: pointer;
		border: none;
		li{
			line-height: 30px;
			min-width: 100%;
			text-align: center;
			color: @textColor;
			font-family: @textFont;
			font-size: 18px;
			padding: 0;
		}
		.marquee-showing{
			width: auto;
		}
	}
}




.mainWindow {
	.panel;
	min-height: 100%;
}

ul.mainmenu {
	list-style: none;
}



/*** CONTENT PANELS ***/
.panel {
	position: fixed;
	z-index: 11;
	
	background-color: @panelBgColor;
	background-image: ~"url('images/top-left_shape.png')";
	background-repeat: no-repeat;
	border: 2px solid @panelBorderColor;
	
	a {
		color: @panelLinkColor;
		&:hover {
			color: @panelLinkHoverColor;
		}
		
		&:visited {
			color: @panelLinkColor;
			&:hover {
				color: @panelLinkHoverColor;
			}
		}
	}
}

/* MENU */

@-moz-keyframes openArrow { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes openArrow { 100% { -webkit-transform: rotate(90deg); } }
@keyframes openArrow { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

#menuButton{
	text-decoration: underline;
	font-family: @titleFont;
	font-size: 18px;
	#menuArrow{/* triangle */
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.5px 0 6.5px 13px;
		border-color: transparent transparent transparent @infoIconColor;
		margin-left: 5px;

	}

	&:hover{
		color: @panelLinkHoverColor;
	}
	&.active{
		#menuArrow{
			-webkit-animation:openArrow 0.2s linear forwards;
			-moz-animation:openArrow 0.2s linear forwards;
			animation:openArrow 0.2s linear forwards;
		}

	}
}

#menuPanel {
	.panel;
	display: none;
	max-width: @leftSize - 1;
	padding-left: 1%;
	border-left: none;
	border-top: none;
	background-position: 0 0;
	top: @appPanelHeight + @gameTopHeight;

	a {
		
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-family: @titleFont;
		float: left;
		width: 50%;
		min-width: 132px;
		padding: 5px 0;
		background-repeat: no-repeat;
		height: 40px;
		line-height: 40px;
		margin-bottom: 5px;
		cursor: pointer;

		img	{
			position: relative;
			top: 5px;
			left: 5px;
			margin-right: 8px;
			display: inline-block;
		}
	}
}


#mainPanel {
	display: none;
	margin-top: 5px;
	position:absolute;
	height: auto;
	width: auto;
	left: 0px;
	top: 20px;
	z-index: 50;
}

#contextPanel {
	display: none;
	position: fixed;
	width: @rightSize - 1;
	padding-right: 1%;
	border-right: none;
	right: 0;
	top: @appPanelHeight + 50px;
	z-index: 11;
}

#infoPanel{
	display: none;
	position: fixed;
	width: @leftSize - 1;
	left: 1%;
	bottom: 40px;
	z-index: 11;
	min-height: 350px;
	text-align: justify;
}

.closebutton{
	text-decoration: none;
}


