table.shipsview {
	/*padding: 120px;*/
}

table.shipsview tbody {
	margin-left: 10px;
	border-bottom: 2px solid #0f0f0f;	
}

/*tr.tline {
	border-collapse: collapse;
}

.tline td {
	border-bottom: 2px solid #1A4D3E;
	border-collapse: collapse;
}*/
.shipImage{
	svg{
		transform: rotate(45deg);
	}
	

	&.german{
		.primaryColor{
			fill: #fecd00 !important;
		}
		.secondaryColor{
			fill: #dc0000 !important;
		}
		.additionalColor{
			fill: #000000 !important;
		}

	}
	
}