
<a href="@Url.Content("~/Game/Bases/Info/")" class="ajax" data-related-element-id="contextPanelContent">Souhrn</a>
<a href="@Url.Content("~/Game/Bases/Ships/")" class="ajax" data-related-element-id="contextPanelContent">Lodě</a>
<a href="@Url.Content("~/Game/Bases/Goods/")" class="ajax" data-related-element-id="contextPanelContent">Zboží</a>
