

<h1>Základny</h1>
	
@{
	foreach (var planetBase in @ViewBag.bases)
	{
		<a href="@Url.Action("Info", "Bases", new { planetName = planetBase.PlanetName })" class="ajax baseLink" data-related-element-id="contextPanelContent">
			<strong>@planetBase.BaseName</strong>
		</a>
	}
}


