@{
    ViewBag.Title = "_TopTen";
}

<h2>Top 10</h2>
<ul class="listbar">
	<li><label>Filter </label><select name="epoch"><option value="1">Epoch 1</option></select></li>
	<li><select name="epoch"><option value="0">Players 1-10</option><option value="10">Players 11-20</option></select></li>
	<li><button>Show</button></li>
</ul>
<div class="scoreboard">
	<table>
		<thead><th>Rank</th><th>Points</th><th>Name</th><th>Alliance</th></thead>
		<tr><td><div class="imgplaceholder" style="width: 32px; height: 32px;">1.</div></td><td class="scoreboard_top3Td">300 pts</td><td class="scoreboard_firstTd"><a class="scoreboard_firstColor" href="#">The Best player</a></td><td><a href="#">BestPlayers</a></td></tr>
		<tr><td><div class="imgplaceholder" style="width: 32px; height: 32px;">2.</div></td><td class="scoreboard_top3Td">200 pts</td><td class="scoreboard_secondTd"><a class="scoreboard_secondColor" href="#">Better player</a></td><td><a href="#">BestPlayers</a></td></tr>
		<tr><td><div class="imgplaceholder" style="width: 32px; height: 32px;">3.</div></td><td class="scoreboard_top3Td">100 pts</td><td class="scoreboard_thirdTd"><a class="scoreboard_thirdColor" href="#">Good player</a></td><td><a href="#">BestPlayers</a></td></tr>
		<tr><td>4.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>5.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>6.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>7.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>8.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>9.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
		<tr><td>10.</td><td class="scoreboard_listRankTd">50 pts</td><td>Just a Player</td><td>-none-</td></tr>
	</table>
</div>