/*** ACHIEVEMENT ***/
#achievements {
  position: absolute;
  right: 1%;
  bottom: 2%;
  width: 350px;
  z-index: 100;
  margin: 10px 0px 10px 10px;
  overflow: hidden;
  border: 1px solid #595959;
  border-radius: 2px;
  font-family:Arial,Helvetica,sans-serif;
  display: none;

	table {
	  margin: 1px 0px 0px 15px;
	  background-color: #222222;
	  width: 100%;
	}

	.icon {
	  background-color: #000000;
	  margin: 0px 0px 0px 0px;
	  padding: 0px 0px 0px 0px;
	  width: 64px; 
	}

	.unlocked {
	  color: #66CDAA;
	  font-weight: bold;
	  padding: 5px 0px 0px 10px;
	  margin: 0px 0px 0px 0px;
	  vertical-align: bottom;
	  text-align: left;
	}

	.name {
	  color: #FFFFFF;
	  text-align: left;
	  padding: 0px 0px 5px 10px;
	  margin: 0px 0px 0px 0px;
	  vertical-align: top;
	}


}

