@model SpaceTraffic.GameUi.Models.LostPasswordModel
@{
    ViewBag.Title = "Zapomenuté heslo";
}

<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        <div class="form">
            <h1>Zapomenuté heslo</h1>
            <p>
                Jméno
            </p>
            <p>
                Email
            </p>
            <p>
                Submit button
            </p>
        </div>
    }     
</div>
