@{
    ViewBag.Title = "Register Step 3";
}

<div class="account-window">
    <h2>Create a New Account - Step 3</h2>
    <p>
        Your account was created. Now you can log into the game. 
    </p>
    <p>
    <strong>Remember: </strong> You need to activate your account up to 48 hours via an email which will be sent.
    </p>
    <h3>Your account</h3>
    <p>Information about your profile...</p>

    <a class="play-button" href="#">Play</a>
</div>
