@{
    ViewBag.Title = "Registrace dokončena";
}

<div class="form-wrapper form">
    <h1>Registrace dokončena</h1>
    <p>
        Vytvoření vašeho účtu proběhlo úspěšně. 
    </p>
    <p>
        Byl vám odeslán aktivační email.<br />
        Prosím aktivujte si svůj účet do<br />
        <b>48 hodin</b>, jinak bude smazán.
    </p>
    <p>
        <a href="@Url.Action("ResendActivationEmail", "Account")">Znovu zaslat aktivační email &rarr;</a>
    </p>
    <p>
        <a class="button login" href="@Url.Action("LogOn", "Account")">Hrát!</a>
    </p>
</div>
