@using SpaceTraffic.GameUi.Models.Ui;
@using SpaceTraffic.Utils.Collections;
@{
	ViewBag.Title = "Index";
	Tabs tabs = ViewBag.Tabs;
}

	
	<ul id="tabsInterface">
	@if (tabs.Items.Count <= 0)
	{
		throw new ApplicationException("No tabs");
	}
	
	@foreach (SpaceTraffic.GameUi.Models.Ui.TabItem tabItem in tabs.Items)
	{
			<a href="@Url.Action(tabItem.Action, tabItem.PartialViewModel)" title="@tabItem.Title" class="ajax tabButton" data-related-element-id="tabsContent">@tabItem.Text</a>
		
	}
	
	</ul>

<div id="tabsContent" class="mainWindow" data-tabs="true"></div>
<script>
	$('#mainPanelContent').bind('load', function () {
		if ($('#tabsContent').is(':empty')) {
			$('#tabsInterface .tabButton').first().trigger('click');/* clicking on first tab for load content */
		}
	});
</script>

