#SpaceTraffic ignore




#FROM SVN version

*.o *.lo *.la *.al .libs *.so *.so.[0-9]* *.a *.pyc *.pyo *.rej *~ #*# .#* .*.swp .DS_Store
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
[Tt]est[Rr]esult*
!/GameServerScripts/Debug
!/GameServerScripts/Debug/*
*.obj
*.pdb
*.csproj.user
*.vbproj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.bak.*
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Tt]humbs.db
*.build.csdef
*.licx*.docstates
*.vs10x