@{
	
	var userName = Context.User.Identity.Name;

	SpaceTraffic.GameUi.GameServerClient.IGameServerClient Client = SpaceTraffic.GameUi.GameServerClient.GameServerClientFactory.GetClientInstance();

	SpaceTraffic.Entities.Achievements profile_achievements = Client.GameService.GetAchievements();
	List<int> earned_achievements_indexes = Client.GameService.GetAllEarnedAchievementsIndexes(userName);


}

<h2>Achievements</h2>
<div class="profile">


	@for (int i = 1; i <= profile_achievements.Items.Count; i++)
	{
		SpaceTraffic.Entities.TAchievement achievement = profile_achievements.GetAchievement(i);
		var unlocked_label = "";

		if (earned_achievements_indexes.Contains(i))
		{

			//TODO url of unlocked file stored in achievement definition.
			var unlocked_image_name = achievement.Name.Replace(" ", "");
			achievement.Image = "../Content/images/Achievements/" + unlocked_image_name + "Complete.jpg";
			unlocked_label = "Unlocked";
		}

		//TODO "Unlocked" label with date?
		if (achievement != null)
		{
			<div class="profile_achievement">
				<table class="profile_achievementtable">
					<tr>
						<td class="profile_achievementicon" rowspan="2">
							<img src="@achievement.Image" alt="
                        foto" width="64px" height="64px" />
						</td>
						<td class="profile_achievementname">@achievement.Name</td>
						<td class="profile_achievementdate" rowspan="2">@unlocked_label</td>
					</tr>
					<tr>
						<td class="profile_achievementdescription">@achievement.Description</td>
					</tr>
				</table>
			</div>
		}
	}


</div>




@*
	<h2>Achievements</h2>
	<div class="profile">
			<div class="profile_achievement">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/FactoryInvestorComplete.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Factory Investor</td>
					<td class="profile_achievementdate" rowspan="2">Unlocked: 13. 3. 2013, 13:45</td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Build your first factory</td>
				  </tr>
				</table>
			</div>
			<div class="profile_achievement">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/LieutenantCommanderComplete.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Lieutenant Commander</td>
					<td class="profile_achievementdate" rowspan="2">Unlocked: 13. 3. 2013, 13:59</td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Buy your first ship</td>
				  </tr>
				</table>
			</div>
			<div class="profile_achievement">
			  <div class="profile_tableleft">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/DugTooGreedilyandTooDeepComplete.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Dug Too Greedily and Too Deep</td>
					<td class="profile_achievementdate" rowspan="2">Unlocked: 15. 3. 2013, 22:28</td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Build all types of mines on 1 planet</td>
				  </tr>
				</table>
			  </div>
			</div>
			<div class="profile_achievement">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/OldMcDonaldHadAFarm.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Old McDonald Had A Farm</td>
					<td class="profile_achievementdate" rowspan="2"></td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Build all types of farms on 1 planet</td>
				  </tr>
				</table>
			</div>
			<div class="profile_achievement">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/IndustryMagnate.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Industry Magnate</td>
					<td class="profile_achievementdate" rowspan="2"></td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Build all types of factories with size 3x3</td>
				  </tr>
				</table>
			</div>
			<div class="profile_achievement">
				<table class="profile_achievementtable">
				  <tr>
					<td class="profile_achievementicon" rowspan="2"><img src="/Content/images/Achievements/RearAdmiralLieutenantGeneralRimmer.jpg" alt="
					foto"     width="64px" height="64px" /></td>
					<td class="profile_achievementname">Rear Admiral Lieutenant General Rimmer</td>
					<td class="profile_achievementdate" rowspan="2"></td>
				  </tr>
				  <tr>
					<td class="profile_achievementdescription">Have fleet of 10 ships</td>
				  </tr>
				</table>
			</div>
	</div>
*@ 