@{
    ViewBag.Title = "_Edit";
}

<h2>Edit personal data</h2>
<div class="profile">
	<table class="profile_editProfile">
		<tr><td>Title</td><td><select class="profile_titleSelect" name="title"/><option>Master</option><option>Teh Lame</option></select></td></tr>
		<tr><td>Nickname</td><td><input type="text" name="nickname"/></td></tr>
		<tr><td>Name</td><td><input type="text" name="name"/></td></tr>
		<tr><td>Surname</td><td><input type="text" name="surname"/></td></tr>
		<tr><td>Birthdate (MM-DD-YYYY)</td><td><input type="text" name="birthdate"/></td></tr>
		<tr><td>City</td><td><input type="text" name="city"/></td></tr>
		<tr><td>Info</td><td><textarea name="info"/></textarea></td></tr>
		<tr><td colspan="2"><button>Save</button></td></tr>
	</table>
</div>
