@{
    ViewBag.Title = "_Overview";
	
}

<h2>Account overview</h2>
<div class="profile">
	<div class="profile_category">Account</div>
		<table class="profile_detailTable">
			<tr><td class="profile_detailTableTitle">Email:</td><td>IAmTester@te.st</td></tr>
			<tr><td class="profile_detailTableTitle">Password:</td><td><a href="#">Change password</a></td></tr>
			<tr><td class="profile_detailTableTitle">Control:</td><td><a class="profile_freezeButton" href="./#" title="Freeze account">Freeze account</a>
            | 
            <a class="profile_deleteButton" href="#" title="Delete account">Delete account</a></td></tr>
		</table>

	<h2>Experience</h2>
	<div class="profile_category">Experience</div>
	<div class="experience">
		<table class="experiencetable">
			<tr>
				<td class="levelText">Level</td>
				<td class="level">@ViewBag.currentLevel.LevelID</td>
				<td class="dash">-</td>
				<td class="levelName">@ViewBag.currentLevel.Name</td>
			</tr>
			<tr>
				<td class="currentExp" colspan="2">@ViewBag.player.Experiences</td>
				<td class="slash">/</td>
				<td class="nextExp">@ViewBag.nextLevelExp</td>
			</tr>
		</table>
	</div> 
</div>
