@{
    ViewBag.Title = "_Settings";
}

<div class="profile">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="settings_form">
            <section>
                <h1>Účet</h1>
                E-mail:<br>
                Zůstat přihlášen<br>
                <hr />
                <a href="#">Změnit heslo</a><br>
                <a href="#" id="deleteAccount">Zrušit účet</a><br>
            </section>
            <section>
                <h1>E-mail</h1>
                Zasílat info ze hry:<br>
                Zasílat novinky:<br>
            </section>
            <section>
                <h1>Zobrazení</h1>
                Počet zobrazených událostí:<br>
                Počet zobrazených zpráv:<br>
            </section>
            <input type="submit" value="Uložit" />
        </div>
    }
</div>
