<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Space Traffic - Space trading multiplayer browser game." />
    <meta name="author" xml:lang="cs" content="Space Traffic Team" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <title>Space Traffic</title>

    <link href='https://fonts.googleapis.com/css?family=Exo:400,800|Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>

</head>
<body>
    Default Minigame View
    @Content.Script("jquery-2.2.2.min.js", Url)
    @Content.Script("jquery-ui-1.11.4.min.js", Url)
    @Content.Script("../JS/ui/Ajax.js", Url)
    @*@Content.JSImport("~/JS/pomImport", Url)*@

</body>
</html>