<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright 2010 FAV ZCU

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<configuration>
  <configSections>
    <section name="gameServerConfig" type="SpaceTraffic.GameServer.Configuration.GameServerConfigurationSection, SpaceTraffic.GameServer" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
    <connectionStrings configSource="ConnectionStrings.config" />
  <!--  <appSettings>
        <add key="DatabaseInitializerForType SpaceTraffic.Persistence.SpaceTrafficContext,SpaceTraffic.GameServer"
             value="SpaceTraffic.Persistence.SpaceTrafficCustomInitializer, SpaceTraffic.GameServer" />
    </appSettings>-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.AccountService">
        <endpoint address="net.pipe://localhost/SpaceTraffic/Account" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IAccountService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/AccountService" />
          </baseAddresses>
        </host>
      </service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.GameService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Game" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IGameService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/GameService" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.AchievementsService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Achievements" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IAchievementsService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/AchievementsService" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.CargoService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Cargo" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.ICargoService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/CargoService" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.PlanningService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Planning" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IPlanningService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/PlanningService" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.PlayerService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Player" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IPlayerService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/Player" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.ShipsService">
				<endpoint address="net.pipe://localhost/SpaceTraffic/Ships" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IShipsService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/Ships" />
					</baseAddresses>
				</host>
			</service>
      <service behaviorConfiguration="defaultServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.HelloWorldService">
        <endpoint address="net.pipe://localhost/SpaceTraffic/Hello" binding="netNamedPipeBinding" contract="SpaceTraffic.GameServer.ServiceImpl.IHelloWorldService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/HelloWorldService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="minigameServiceBehavior" name="SpaceTraffic.GameServer.ServiceImpl.MinigameService">
        <endpoint address="net.pipe://localhost/SpaceTraffic/Minigame" binding="netNamedPipeBinding" contract="SpaceTraffic.Services.Contracts.IMinigameService" />
        <!--<endpoint address="http://localhost:8080/SpaceTraffic/Minigame" binding="basicHttpBinding" contract="SpaceTraffic.Services.Contracts.IMinigameService" />-->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/SpaceTrafficServices/MinigameService" />
            <!--<add baseAddress="http://localhost:8731/SpaceTrafficServices/MinigameService" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="minigameServiceBehavior">
          <!--<serviceMetadata httpGetEnabled="true" /> -->
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <gameServerConfig>
    <host url="http://127.0.0.1:8081/hello" />
    <assets path="..\..\Assets\" />
    <map name="GalaxyMap" />
    <goods name="Goods" />
      <!-- 
    <initializer type="DropCreateDatabaseIfModelChanges"/>
     <initializer type="DropCreateDatabaseAlways"/>
    <initializer type="CreateDatabaseIfNotExists"/>-->

    <initializer type="DropCreateDatabaseIfModelChanges" inputScript="startup.sql"/>
  </gameServerConfig>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>