
<div class="references">
	<h1>Autoři</h1>
	<p>
		Space Traffic Team
		FAV ZČU
	</p>
	<h1>Zdroje</h1>
	<p>Sources for background images were taken by Hubble Space Telescope and published by NASA.</p>
	<h1>Komponenty třetích stran</h1>
	<h2>Javascript</h2>
	<a href="http://www.givainc.com/labs/marquee_jquery_plugin.cfm">Marquee plugin</a><br/>
	<a href="https://github.com/jquery/jquery-mousewheel">Mousewheel plugin</a><br />
	<a href="http://davidbau.com/archives/2010/01/30/random_seeds_coded_hints_and_quintillions.html">Plugin pro javascriptová náhodná čísla se seedem.</a><br />
	
</div>

