
<div class="references">
	<h1>Autoři</h1>
	<p>
		Space Traffic Team
		FAV ZČU
	</p>
	<h1>Zdroje</h1>
	<p>Sources for background images were taken by Hubble Space Telescope and published by NASA.</p>
	<h1>Komponenty třetích stran</h1>
	<a href="http://www.givainc.com/labs/marquee_jquery_plugin.cfm">Marquee plugin</a>
</div>

