
<div class="references">
	<h1>Autoři</h1>
	<p>
		Space Traffic Team
		FAV ZČU
	</p>
	<h1>Zdroje obrázků</h1>
	<a href="http://vectorpage.com/icons/black-icons-with-transport/">Lodě</a><br />
	<a href="http://all-free-download.com/free-vector/download/turtle_totem_vector_2_163600.html">Želva</a><br />
	<a href="http://cz.vector.me/browse/244924/space_shuttle">Starty</a><br />
	<a href="http://vectorpage.com/icons/oil-icons-vector-graphic/">Palivo</a><br />
	<a href="http://vectorpage.com/cars/car-service-icons-set/">Opravy</a><br />
	<h1>Komponenty třetích stran</h1>
	<h2>Javascript</h2>
	<a href="http://jquery.malsup.com/form/">Plugin pro ajaxové formuláře.</a><br />
	<a href="http://www.givainc.com/labs/marquee_jquery_plugin.cfm">Marquee plugin</a><br/>
	<a href="https://github.com/jquery/jquery-mousewheel">Mousewheel plugin</a><br />
	<a href="http://davidbau.com/archives/2010/01/30/random_seeds_coded_hints_and_quintillions.html">Plugin pro javascriptová náhodná čísla se seedem.</a><br />
	
</div>

