


	<div id="shipBuyContainer">
@{		int i = 0;
		foreach (var ship in @ViewBag.Ships)
		{
			i++;
			<div class="shipBuyContainer">
				@Html.Partial("ShipCards/_ShipCardFullDetail", new ViewDataDictionary { { "ship", ship }, {"index", i} })
	
				<a href="@Url.Action("BuyModel", "Ships", new { baseId = ViewBag.baseId, starSystemName = ViewBag.starSystemName, model = ship.Model })" class="ajax btn btn-credits large" onclick="ViewportManager.closeMainPanel()">Koupit</a>
			</div>
		}
}
		<div style="clear: both"></div>
	</div>
