@{
    ViewBag.Title = "_Overview";
}
<table class="summarytable">
<tr><th>Ships:</th><td>20</td></tr>
<tr><th>Commercial:</th><td>10</td></tr>
<tr><th>Combat:</th><td>10</td></tr>
<tr><th>Idle ships:</th><td>1</td></tr>
<tr><th>Destroyed/Missing:</th><td>1</td></tr>
</table>
<br />
<table class="itemtable shipsview">
<thead>
<tr><th>Icon</th><th>Name</th><th>Condition</th><th>State</th><th>Position</th><th>Orders</th><th>TimeToRoundFinish</th></tr>
</thead>
<tbody>
	<tr><td><img src="@Url.Content("~/Content/images/placeholder.png")" width="32" height="32" /></td><td><a href="#" @*onmouseover="contextinfo.load(this, {!="'".$presenter->link('contextshipdetails')."'"})"*@>ShipName1</a></td><td>100%</td><td>In flight.</td><td>Planeta1</td><td>heading to Planeta2</td><td>10:00</td></tr>
	<tr><td><img src="@Url.Content("~/Content/images/placeholder.png")" width="32" height="32" /></td><td>FleetName1</td><td>100%</td><td>In flight.</td><td>Planeta1</td><td>heading to Planeta2</td><td>10:00</td></tr>
</tbody>
</table>
<button>details</button>

