<div class="scrollable">
@{
	foreach (var cargo in ViewBag.ship.SpaceShipsCargos)
	{
		@Html.Partial("../Cargo/CargoCards/_CargoCardBasic", new ViewDataDictionary { { "cargo", cargo } })

	}

}
</div>