
<div class="ajax" id="repairingForm">
	<h2>Opravit</h2>
	<p class="actionPrice">
		<span>Cena opravy: </span>
		<strong>@ViewBag.trader.RepairPrice</strong>
		<span class="icon creditsIcon largeIcon"></span>
	</p>
		@using (Html.BeginForm())
	{
			<input type="number"  class="actionAmount" name="Amount" min="1" max="@Math.Max(ViewBag.maxToRepair, 10)" value="@Math.Max(ViewBag.maxToRepair, 1)" />
			<input type="submit" class="btn btn-ships sendBtn" value="Opravit" />
			<a class="btn btn-ships sendMax" href="">Opravit maximum</a>
			<div style="clear: both;"></div>

	}
</div>
@Content.Script("../JS/game/ShipScripts.js", Url)