<div id="achievements">
	<div class="achievement">
		<img src="" class="achievementIcon" />
		<p class="achievementInfo">
			<span class="unlocked">Achievement Unlocked!</span>
			<strong class="name"></strong>
		</p>
		<div style="clear: both;"></div>
	</div>
</div>