<div id="achievements">
	<table>
		<tr>
			<td class="icon" rowspan="2"><img src="" alt="foto" width="64px" height="64px" /></td>
			<td class="unlocked">Achievement Unlocked!</td>
		</tr>
		<tr>
			<td class="name"></td>
		</tr>
	</table>
</div>