@using SpaceTraffic.GameUi.Models.Ui;
@using SpaceTraffic.Utils.Collections;
@{
	ViewBag.Title = "Index";
	Tabs tabs = ViewBag.Tabs;
}

@Html.ActionLink("[X]", "Index", new { Controller = "Default", Area = "Game" }, new { @class = "closebutton" })	
<div class="mainWindow" data-tabs="true">
	
	<ul class="gamewindow_tabs">
	@if (tabs.Items.Count <= 0)
	{
		throw new ApplicationException("No tabs");
	}
	
	@foreach (SpaceTraffic.GameUi.Models.Ui.TabItem tabItem in tabs.Items)
	{
		<li>
			<a href="@Url.Action(tabItem.Action, new { Area="Game" })" title="@tabItem.Title"><span>@tabItem.Text</span></a>
			
		</li>
	}
	
	</ul>
</div>

