@{
    ViewBag.Title = "_Password";
}

<h2>Change password</h2>
<div class="profile">
	<table class="profile_editProfile">
	<tr><td>Current password</td><td><input type="text" name="oldPass"/></td></tr>
	<tr><td>New password</td><td><input type="text" name="pass"/></td></tr>
	<tr><td>New password again</td><td><input type="text" name="pass"/></td></tr>
	<tr><td colspan="2"><button>Change</button></td></tr>
	</table>
</div>