@{
    ViewBag.Title = "_Personal";
}


<h2>Personal data</h2>
<div class="profile">
	<div class="profile_category">Personal<a href="../edit/" title="Edit">&nbsp;(Edit)</a></div>
		<table class="profile_detailTable">
			<tr><td class="profile_detailTableTitle">Title:</td><td>TotĂˇlnĂ­ lama</td></tr>
			<tr><td class="profile_detailTableTitle">Nickname:</td><td>Test</td></tr>
			<tr><td class="profile_detailTableTitle">Name:</td><td>Iam</td></tr>
			<tr><td class="profile_detailTableTitle">Surname:</td><td>Tester</td></tr>
			<tr><td class="profile_detailTableTitle">Age:</td><td>-1</td></tr>
			<tr><td class="profile_detailTableTitle">City:</td><td>TestCity</td></tr>
			<tr><td class="profile_detailTableTitle">Info:</td><td>Lorem ipsum dolor sit amet consectetuer id consectetuer Vestibulum Morbi ullamcorper. Pellentesque fames et In cursus eget diam tempus ac consectetuer pretium.</td></tr>
		</table>
</div>