@{
    ViewBag.Title = "_Settings";
}

<h2>Account profile</h2>
<div class="profile">
	<form>
		<table>
		<tr><td class="profile_category" colspan="2">Account</td></tr>
		<tr><td class="profile_detailCell">Allow permanent login</td><td><input type="checkbox" /></td></tr>
		<tr><td class="profile_category" colspan="2">Profile</td></tr>
		<tr><td class="profile_detailCell">Show age</td><td><input type="checkbox" /></td></tr>
		<tr><td class="profile_category" colspan="2">Email</td></tr>
		<tr><td class="profile_detailCell">Receive news by email</td><td><input type="checkbox" /></td></tr>
		<tr><td class="profile_detailCell">{_"Receive events by email</td><td><input type="checkbox" /></td></tr>
		<tr><td class="profile_category" colspan="2">Show</td></tr>
		<tr><td class="profile_detailCell">Number of showed messagess</td><td><select><option>15</option><option>30</option><option>45</option><option>60</option></select></td></tr>
		<tr><td class="profile_detailCell">Number of showed events</td><td><select><option>15</option><option>30</option><option>45</option><option>60</option></select></td></tr>
		<tr><td class="profile_category" colspan="2">Test</td></tr>
		<tr><td class="profile_detailCell">I am interested in testing game</td><td><input type="checkbox" /></td></tr>
		</table>
		<button>Edit</button>
	</form>
</div>