

// Color schema
@spaceColor: #000000;
@normalTextColor: #ffffff;
@panelBorderColor: #151515;
@headerBgColor: #111111;
@footerBgColor: @headerBgColor;
@footerBorderColor: #222222;
@panelBgColor: #060525;

@menuLinkColor: #ffffff;
@menuLinkHoverColor: #01ffc6;

@panelLinkColor: #ffffff;
@panelLinkHoverColor: #01ffc6;

// Dimensions

// Fonts

@normalTextFont: 'Exo', Arial, sans-serif;
@menuFont: 'Autowide', Helvetica, sans-serif;
