

// Color schema
@spaceColor: #000000;
@textColor: #ffffff;
@titleTextColor: #fff;

@gamePanelBgColor: #111;
@gamePanelBorderColor: rgba(150,150,150, 0.5);
@panelBorderColor: #151515;

@footerBorderColor: #222222;
@panelBgColor: #060525;

@menuLinkColor: #ffffff;
@menuLinkHoverColor: #01ffc6;

@panelLinkColor: #ffffff;
@panelLinkHoverColor: #01ffc6;
